{extend name="/Common/baseHome" /}

{block name="css"}
<link rel="stylesheet" href="__CSS__/curd.css"/>
<style type="text/css">
.layui-input-block > .layui-input{width: 300px;}
.layui-form-select{width: 170px;}

</style>
{/block}

{block name="body"}
<div class="main">

<span class="layui-breadcrumb">
    <a href="{:url('admin/user_list')}">管理员管理</a>
    <a><cite>管理员编辑</cite></a>
</span>

    <fieldset class="layui-elem-field layui-field-title site-title">
        <legend><a name="nob">{$headArr.title}</a></legend>
    </fieldset>

    <div class="add_div">

        <form class="layui-form" action="" id="admin_form">
            
            <div class="layui-form-item">
                <label class="layui-form-label">登录名：</label>
                <div class="layui-input-block">
                    <input type="text" name="username"  lay-verify="required" placeholder="请输入登录名" autocomplete="off" class="layui-input username" value="{$data.username}">
                </div>
            </div>
            
            

            <!-- 超级管理员可以直接修改密码 -->
            {eq name="Think.session.role_id" value="1"}
                <div class="layui-form-item">
                    <label class="layui-form-label">密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input password" >
                    </div>
                </div>
            {else/}
            <!-- 管理员不可修改 自己修改需要验证密码 -->
                {eq name="Think.session.role_id" value="1"}
                <div class="layui-form-item">
                    <label class="layui-form-label">密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input password" >
                    </div>
                </div>
                {/eq}
            {/eq}
            
            {eq name="Think.session.role_id" value="1"}
            <div class="layui-form-item">
                <label class="layui-form-label">角色：</label>
                <div class="layui-input-block">
                    <select name="role_id" lay-verify="required">
                        {foreach $role_data as $v} 
                            {eq name="v.role_id" value="$data.role_id"}
                                <option value="{$v.role_id}" selected >{$v.role_name}</option>
                            {else/}
                                <option value="{$v.role_id}">{$v.role_name}</option>
                            {/eq}
                        {/foreach}
                    </select>
                </div>
            </div>
            {/eq}

            <div class="layui-form-item">
                <label class="layui-form-label">是否可用：</label>
                <div class="layui-input-block">
                    {eq name="data.status" value="1"}
                        <input type="radio" name="status" class="status" value="1" title="可用" checked >
                        <input type="radio" name="status" class="status" value="0" title="禁用" >
                    {else/}
                        <input type="radio" name="status" class="status" value="1" title="可用"  >
                        <input type="radio" name="status" class="status" value="0" title="禁用" checked >
                    {/eq}
                </div>
            </div>

            <div class="layui-form-item" style="margin-top:40px;">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn button_sub" >立即提交</button>
                </div>
            </div>
            <input type="hidden" value="{$data.admin_id}" name="admin_id" class="admin_id" />
        </form>

    </div>
</div>
{/block}

{block name="js"}
<script type="text/javascript" src="__JS__/DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
var url = 0;
$(".button_sub").click(function(){

    var username =　$(".username").val();
    var password =　$(".password").val();
    var role_id  =　$(".role_id").val();
    
    if(username==''){
        layer.alert("请填写登录名!");
        return false;
    }
    if(password.length<6 && password.length>0){
        layer.alert("请填写至少6位数长度的密码!");
        return false;
    }
    if(role_id==''){
        layer.alert("请选择角色!");
        return false;
    } 
    
     
    $.post("{:url('admin/ajax_user_edit')}",$('#admin_form').serialize(), function(data){
        
         if(data.status){
            layer.alert(data.msg,function(){
                window.location.href = "{:url('admin/user_list')}";    
            }); 
        }else{
            layer.alert(data.msg);
        }
    });
    
});


</script>
{/block}
