{extend name="/Common/baseHome" /}

{block name="css"}
<link rel="stylesheet" href="__CSS__/curd.css"/>
<style type="text/css">
.menu_del{color: #192E32; text-decoration: underline;}
.menu_del:hover{color: #F50;}
</style>
{/block}

{block name="body"}
<div class="main">
    <div class="form_div">
        <form action="#" method="get" id="menu_list_search" class="layui-form layui-form-pane">
           　
            <input type="hidden" name="m" value="{$controller}">
            <input type="hidden" name="a" value="{$action}">
            
            <div class="search_icon">
                <i class="layui-icon">&#xe615;</i>
            </div>  
            
            <div class="layui-form-item">
                <label class="layui-form-label">登陆名：</label>
                <div class="layui-input-block">
                    <input type="text" name="keyword" lay-verify="title" autocomplete="off"  placeholder="请输入登陆名." class="layui-input">
                </div>
            </div>

            <button class="layui-btn layui-btn-danger" lay-submit lay-filter="menu_list_search" >搜索</button>
            
            <a href="{:url('admin/user_add')}" class="add_button" >添加新管理员</a>

        </form>
    </div>
    <div class="list_div" id="listDiv">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>登陆名</th>
                    <th>最后登录IP</th>
                    <th>最后登录时间</th>
                    <th>级别</th>
                    <th>是否可用</th>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>

                {foreach $list_data as $v} 
                    <tr>
                        <td>{$v.admin_id}</td>
                        <td>{$v.username}</td>
                        <td>{eq name="v.last_login_ip" value=""} 无 {else/} {$v.last_login_ip} {/eq}</td>
                        <td>{eq name="v.last_login_time" value=""} 无 {else/} {$v.last_login_time|date="Y-m-d",###} {/eq}</td>
                        <td>{$v.role_name}</td>
                        <td>{eq name="v.status" value="1"} 可用 {else/} 禁用 {/eq}</td>
                        <td>

                            {eq name="$Think.session.role_id" value="1"}
                        	   <a href="{:url('admin/user_edit')}?id={$v.admin_id}">修改</a>
                            {else/}
                                {eq name="$Think.session.user_id" value="$v.admin_id"}
                                <a href="{:url('admin/user_edit')}?id={$v.admin_id}">修改</a>
                                {/eq}
                            {/eq}

                            <a data="{$v.admin_id}"  class="menu_del"  >删除</a>
                        </td>
                    </tr>
                {/foreach}

            </tbody>
        </table>
        <div class="page">
        	{$list_data->render()}
        </div>
    </div>

</div>
{/block}

{block name="js"}
<script type="text/javascript">
$(".menu_del").click(function(){
    var _this = $(this);
    var id = _this.attr("data");
    layer.confirm('您确定要删除吗？', {
        btn: ['确定','取消'] //按钮
    }, function(index){
        layer.close(index);    
        var id = _this.attr("data");
        var index_load = layer.load(2, {shade: 0.5});
        $.post("{:url('admin/admin_del')}",{id:id},function(data){
            layer.close(index_load); 
            if(data.status){
                layer.msg(data.msg,{icon: 1});  
                _this.parents("tr").remove();
            }else{
                layer.msg(data.msg,{icon: 2});   
            }
        });
    }, function(index){
        layer.close(index);    
    });
});
	
</script>
{/block}