/*baseHome*/
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.head_box {
    height:60px;
    display: block;
    background-color: #393D49;
    border-bottom: 5px solid #1AA094;
}
.head_box .logo_img { height: 60px; float: left;margin-right: 55px; margin-left: 15px;}
.head_box .nav{ margin-left: 200px;}
.login_img { float: left;padding-left: 10px;}
.login-land {color: #FFF;}
.login-land a {padding: 1px 5px;background: #FFF;color: #000;}
.content{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.login_info{
    float: right;
    color: #fff;
}
.login_info a {
    color: #fff;
}
/*左边菜单*/
.middle_left{
	width: 200px;
	overflow-x:hidden;
}
.layui-side{
    top: 66px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #393D49;
}
.layui-nav .layui-nav-item.layui-nav-item-child a{
    display:inline-block;
    padding-left:40px;
    width:140px;
    background-color:#393D49;
}
.layui-nav .layui-nav-item-child.on a{
    background-color: #009688;
    color: #fff;
}
/*右边内容*/
.middle_right{
	position: absolute;
    left: 200px;
    right: 0;
    top: 66px;
    bottom: 0;
    z-index: 998;
    width: auto;
    overflow: hidden;
    overflow-y: auto;
}

.middle_right .layui-tab-content{
    height: 100%;
    padding: 0px;
}
.middle_right iframe{
    width: 100%;
    border: 0;
    height: 100%;
}
.layui-tab{
    margin:0px;
}
.layui-nav-child a span{
    cursor: pointer;
}
.layui-tab-title li:first-child i{
    display: none;
}
.layui-tab-title li{
    border-left: 1px solid #E2E2E2
}
.layui-tab-card>.layui-tab-title li{
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    padding:0 20px 0 5px;
    width: 100px;
    white-space:nowrap;
    overflow:hidden; 
    text-overflow:ellipsis;


}

.layui-tab-card > .layui-tab-title li .layui-tab-close{
    position: absolute;
    font-size: 14px;
    right: 5px;
    top: 12px;
    width: 16px;
    text-align: center;
    height: 16px;
    line-height: 18px;
    margin-left: 0px;
    border-radius: 16px;

}