{extend name="/Common/baseHome" /}

{block name="css"}
<link rel="stylesheet" href="__CSS__/curd.css"/>
<style type="text/css">

</style>
{/block}

{block name="body"}

<div class="main">
    <div class="form_div">
        <form action="#" method="get" id="menu_list_search" class="layui-form layui-form-pane">
           　

            <div class="search_icon">
                <i class="layui-icon">&#xe615;</i>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">标题：</label>
                <div class="layui-input-block">
                    <input type="text" name="keyword" lay-verify="title" autocomplete="off"  placeholder="请输入标题 ." class="layui-input">
                </div>
            </div>

            <button class="layui-btn layui-btn-danger" lay-submit lay-filter="menu_list_search" >搜索</button>
            
            <!-- <a href="{:url('admin/user_add')}" class="add_button" >添加新管理员</a> -->

        </form>
    </div>
    <div class="list_div" id="listDiv">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
			      	<th>编号</th>
			      	<th>标题</th>
			      	<th>服务站名称</th>
                    <th>审核人</th>
                    <th>审核时间</th>
			      	<th>操作</th>
			    </tr> 
            </thead>
            <tbody>

                {foreach $list_data as $v} 
				    <tr>
				        <td>{$v.id}</td>
				        <td>{$v.title}</td>
				        <td>{$v.role_name}</td>
                        <td>
                            {PHP}
                            if($role_id == 2){
                                echo $v["username2"];
                            }else if($role_id == 3){
                                echo $v["username3"];
                            }else if($role_id == 4){
                                echo $v["username4"];
                            }else if($role_id == 5){
                                echo $v["username5"];
                            }else if($role_id == 6){
                                echo $v["username6"];
                            }else if($role_id == 7){
                                echo $v["username7"];
                            }else{

                            }
                            {/PHP}
                        </td>
				        <td>
                            {PHP}
                            if($role_id == 2){
                                echo date("Y-m-d",$v["time2"]);
                            }else if($role_id == 3){
                                echo date("Y-m-d",$v["time3"]);
                            }else if($role_id == 4){
                                echo date("Y-m-d",$v["time4"]);
                            }else if($role_id == 5){
                                echo date("Y-m-d",$v["time5"]);
                            }else if($role_id == 6){
                                echo date("Y-m-d",$v["time6"]);
                            }else if($role_id == 7){
                                echo date("Y-m-d",$v["time7"]);
                            }else{
                                
                            }
                            {/PHP}
                        </td>
				        <td>
                            <a data-href="{:url('service/service_suc_show',array('id'=>$v['id']))}" class="add_new_tab" data-name="service_suc_show{$v.id}" data-text="{$v.title}" >查看详情</a>

                            {if condition="$Think.session.role_id eq 1"}
                            <a data="{$v.id}"  class="menu_del"  >删除</a>
                            {/if}
                        </td>
				    </tr>
				{/foreach}

            </tbody>
        </table>
        {$list_data->render()}
        <div style="height: 30px; clear: both;">&nbsp;</div>
    </div>

</div>

{/block}


{block name="js"}
<script type="text/javascript">
$(".menu_del").click(function(){
    var _this = $(this);
    var id = _this.attr("data");
    layer.confirm('您确定要删除吗？', {
        btn: ['确定','取消'] //按钮
    }, function(index){
        layer.close(index);    
        var id = _this.attr("data");
        var index_load = layer.load(2, {shade: 0.5});
        $.post("{:url('service/service_del')}",{id:id},function(data){
            layer.close(index_load); 
            if(data.status){
                layer.msg(data.msg,{icon: 1});  
                _this.parents("tr").remove();
            }else{
                layer.msg(data.msg,{icon: 2});   
            }
        });
    }, function(index){
        layer.close(index);    
    });
});
</script>
{/block}
{block name="js"}
<script type="text/javascript">
$(".menu_del").click(function(){
    var _this = $(this);
    var id = _this.attr("data");
    layer.confirm('您确定要删除吗？', {
        btn: ['确定','取消'] //按钮
    }, function(index){
        layer.close(index);    
        var id = _this.attr("data");
        var index_load = layer.load(2, {shade: 0.5});
        $.post("{:url('service/service_del')}",{id:id},function(data){
            layer.close(index_load); 
            if(data.status){
                layer.msg(data.msg,{icon: 1});  
                _this.parents("tr").remove();
            }else{
                layer.msg(data.msg,{icon: 2});   
            }
        });
    }, function(index){
        layer.close(index);    
    });
});
</script>
{/block}
