{extend name="/Common/baseHome" /}

{block name="css"}
<link rel="stylesheet" href="__CSS__/curd.css"/>
<style type="text/css">
.menu_del{color: #192E32; text-decoration: underline;}
.menu_del:hover{color: #F50;}
</style>
{/block}

{block name="body"}
<div class="main">
    <div class="form_div">
        <form action="#" method="get" id="menu_list_search" class="layui-form layui-form-pane">
           　
            <input type="hidden" name="m" value="{$controller}">
            <input type="hidden" name="a" value="{$action}">
            
            <div class="search_icon">
                <i class="layui-icon">&#xe615;</i>
            </div>  
            
            <div class="layui-form-item">
                <label class="layui-form-label">名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="keyword" lay-verify="title" autocomplete="off"  placeholder="请输入名称." class="layui-input">
                </div>
            </div>

            <button class="layui-btn layui-btn-danger" lay-submit lay-filter="menu_list_search" >搜索</button>
            
            <a href="{:url('role/role_add')}" class="add_button" >添加新角色</a>

        </form>
    </div>
    <div class="list_div" id="listDiv">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>

                {foreach $role_data as $v} 
                    <tr>
                        <td>{$v.role_id}</td>
                        <td>{$v.role_name}</td>
                        <td>
                            <!-- <a data-href="{:url('role/role_edit',array('id'=>$v['role_id']))}" class="add_new_tab" data-name="service_show{$v.role_id}" data-text="{$v.role_name}" >修改</a> -->
                        	<a href="{:url('role/role_edit')}?id={$v.role_id}"  >修改</a>

                            <a data="{$v.role_id}"  class="menu_del"  >删除</a>
                        </td>
                    </tr>
                {/foreach}

            </tbody>
        </table>
        <div class="page">
        	{$role_data->render()}
        </div>
    </div>

</div>
{/block}

{block name="js"}
<script type="text/javascript">
$(".menu_del").click(function(){
    var _this = $(this);
    var id = _this.attr("data");
    layer.confirm('您确定要删除吗？', {
        btn: ['确定','取消'] //按钮
    }, function(index){
        layer.close(index);    
        var id = _this.attr("data");
        var index_load = layer.load(2, {shade: 0.5});
        $.post("{:url('role/role_del')}",{id:id},function(data){
            layer.close(index_load); 
            if(data.status){
                layer.msg(data.msg,{icon: 1});  
                _this.parents("tr").remove();
            }else{
                layer.msg(data.msg,{icon: 2});   
            }
        });
    }, function(index){
        layer.close(index);    
    });
});
	
</script>
{/block}